/* definições de TAGs */
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    height: 100%;
}

body {
    background-color: #ffc09f;
    display: flex;
    flex-direction: column;
    font-family: 'Teko', sans-serif;
    height: 100%;
}

/* classes utilitárias */

/* classes do projeto */
.headerMain {
    background-color: #000;
    color: #FFF;
    padding: 1rem;
}

.headerMain .logo {
    font-size: 2rem;
}

.mainContent {
    flex-grow: 1;
}

.footerMain {
    background-color: #000;
    color: #FFF;
    padding: 1rem;
}